@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: transparent;
}

#hud {
    margin-left: 42%;
    width: 15%;
}

#hud > .coords > .text {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 1vh;
    text-align: center;
    font-family: Cascadia Code;
    letter-spacing: -1px;
    font-size: 0.7rem;
    color: white;
    border-radius: 0.4vh;
    margin-left: 10px;
    float: right;
}

#hud > .coords > .text {
    margin-top: 50px;
    margin-bottom: -25px;
}