.idea/
.vscode/
build/
tmp/
temp/
bin/
.env
*.log
dotnet/
yarn.lock
node_modules/
logs/database/
linux_x64.tar.gz
package-lock.json
packages/
client_packages/.listcache
ragemp-server.exe
ragemp-server
BugTrap-x64.dll