{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },

        "transform": {
            "legacyDecorator": false,
            "decoratorMetadata": false,

            "optimizer": {
                "simplify": true,
                "globals": {
                    "vars": {
                        "process.env.NODE_ENV": "production"
                    }
                },

                "jsonify": {
                    "minCost": 600
                }
            }
        },

        "minify": {
            "compress": true,
            "mangle": true
        },

        "target": "es2022",
        "paths": {
            "@config/*": ["development/config/*"]
        },

        "baseUrl": "./"
    },

    "sourceMaps": false,
    "minify": true,
    "module": {
        "type": "commonjs"
    }
}