.hud {
    height: 20%;
    width: auto;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.speedometer {
    position: absolute;
    display: flex;
    padding: 10px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    left: 1;
    text-align: center;
    margin: 80px;
    bottom: 0;
}

.hud .speed {
    position: absolute;
    padding: 4px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 300px;
    left: 43%;
    text-align: center;
    bottom: 10%;
    font-size: 12px;
}

.circles {
    height: 100px;
    position: absolute;
    display: flex;
    opacity: 1;
    margin-bottom: 100px;
    bottom: 0;
    border-radius: 520px;
}

.circles2 {
    height: 100px;
    position: absolute;
    display: flex;
    opacity: 1;
    margin-bottom: 100px;
    bottom: 0;
    border-radius: 520px;
}

.rpm {
    border-radius: 100px;
    color: rgb(218, 24, 176);
    stroke-linejoin: round;
}