body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: Montserrat;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.exchange-container {
    width: 17%;
    height: 85%;
    background-color: #11131e;
    border: 2px solid #454852;
    border-radius: 20px;
}

.exchange-header {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #171924;
    display: flex;
    align-items: center;
}

.exchange-branding {
    width: 50%;
    height: auto;
    margin-left: 7%;
}

.exchange-body {
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchange-cryptopair {
    position: relative;
    margin-top: 5%;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
}

.exchange-cryptopair-currencyicon {
    position: relative;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #232834;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3vw;
}

.exchange-cryptopair-currencypair {
    position: absolute;
    top: 20%;
    margin-left: 27%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
}

.exchange-cryptopair-crypto {
    position: absolute;
    top: 50%;
    margin-left: 27%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7vw;
    font-weight: 500;
    color: #808185;
}

.exchange-cryptopair-toggle {
    position: relative;
    margin-left: 72%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9vw;
    font-weight: 500;
}

.exchange-marketprice {
    position: relative;
    display: flex;
    margin-top: 4%;
    width: 80%;
    height: 10%;
    color: white;
    background-image: linear-gradient(to right, #1a1d27 0%, #1a1d27 50%, transparent 50%);
    background-size: 17px 2px;
    background-repeat: repeat-x;
}

.exchange-marketprice:before {
    width: 100%;
    content: " ";
    margin-top: 26%;
    background-image: linear-gradient(to right, #1a1d27 0%, #1a1d27 50%, transparent 50%);
    background-size: 17px 2px;
    background-repeat: repeat-x;
}

.exchange-marketprice-text {
    position: absolute;
    margin-top: 4%;
    color: #858489;
    font-size: 0.75vw;
    font-weight: 500;
}

.exchange-marketprice-value {
    position: absolute;
    margin-top: 13%;
    color: white;
    font-size: 1.15vw;
    font-weight: 500;
}

.exchange-marketprice-graph {
    position: absolute;
    width: auto;
    height: 60%;
    left: 79%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.exchange-marketvolume {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2%;
    width: 80%;
    height: 5%;
    color: white;
    font-size: 0.6vw;
    font-weight: 500;
}

.exchange-marketvolume-pair {
    position: relative;
    padding: 0.15vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    color: white;
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: 500;
    border-radius: 0.5vw;
    background-color: #364048;
}

.exchange-marketvolume-marketvolume {
    position: absolute;
    color: white;
    right: 0;
    font-size: 0.6vw;
    font-weight: 500;
    border-radius: 0.5vw;
}

.exchange-tradingview {
    position: relative;
    margin-top: 2%;
    width: 80%;
    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202531;
    border: 2px solid #2e313c;
    border-radius: 0.8vw;
}

.exchange-tradingview-selector {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
    border-bottom: 2px solid #262b37;
}

.switch2-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a1d27;
    border-radius: 15px;
    overflow: hidden;
    width: 45%;
    min-height: 30%;
    text-align: center;
    font-size: 0.7vw;
    color: #ffffff;
    padding-left: 22.5%;
    padding-right: 22.5%;
}

.switch2-button-checkbox {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch2-button-checkbox + .switch2-button-label {
    position: relative;
    padding: 14px 0;
    width: 100%;
}

.exchange-tradingview-price {
    position: relative;
    background: #1a1d27;
    border-radius: 15px;
    width: 90%;
    height: 17%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.walleticon {
    margin-left: 8%;
    color: white;
}

.exchange-tradingview-price-spacer {
    position: relative;
    width: 0.7%;
    height: 22%;
    margin-left: 4%;
    background-color: #272a34;
}

.exchange-tradingview-price-text {
    color: #434650;
    font-weight: 500;
    font-size: 0.75vw;
    margin-left: 3%;
}

.exchange-tradingview-amount {
    position: relative;
    background: #1a1d27;
    border-radius: 15px;
    width: 90%;
    height: 17%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exchange-tradingview-price-input  {
    position: absolute;
    font-family: Montserrat;
    right: 28%;
    font-size: 0.65vw;
    color: white;
    font-weight: 700;
    width: 30%;
    text-align: end;
    background: none;
    outline: none;
    border: none;
}

.exchange-tradingview-price-currency {
    position: absolute;
    right: 10%;
    font-size: 0.7vw;
    color: #7b7d85;
    font-weight: 700;
}

.exchange-tradingview-amount-input  {
    position: absolute;
    right: 28%;
    font-family: Montserrat;
    font-size: 0.65vw;
    margin-top: 0.5%;
    color: white;
    font-weight: 700;
    width: 30%;
    text-align: end;
    background: none;
    outline: none;
    border: none;
}

.exchange-tradingview-amount-currency {
    position: absolute;
    right: 13%;
    font-size: 0.7vw;
    color: #7b7d85;
    font-weight: 700;
}

.exchange-tradingview-total {
    position: relative;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.75vw;
    color: #848995;
    border-radius: 15px;
    width: 85%;
    margin-top: 5%;
}

.exchange-tradingview-totaltext {
    position: absolute;
    left: 0;
    font-family: Montserrat;
    font-weight: 500;
}

.exchange-tradingview-totalamount {
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    right: 0;
}

.exchange-tradingview-currency {
    color: #474d56;
    font-family: Montserrat;
    font-weight: 600;
}

.exchange-tradingview-buy {
    position: relative;
    background: #0056ff;
    border-radius: 25px;
    width: 90%;
    height: 15%;
    margin-top: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}

.exchange-pastorders {
    position: relative;
    margin-top: 2%;
    width: 80%;
    height: 22%;
    display: flex;
    flex-direction: column;
}

.exchange-pastorders-text {
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 0.75vw;
    font-weight: 500;
}

.exchange-pastorders-toggle {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5%;
    color: white;
    width: 99%;
    height: 30%;
    background: #181a25;
    border-radius: 0.6vw;
    font-size: 0.75vw;
    font-weight: 500;
}

.switch-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #181a25;
    border-radius: 11px;
    margin-top: 3%;
    overflow: hidden;
    width: 55%;
    min-height: 30%;
    text-align: center;
    font-size: 0.7vw;
    color: #ffffff;
    padding-right: 45%;
}
.switch-button:before {
    font-family: FontAwesome;
    content: "\f254 ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.switch-button:after {
    font-size: 0.7vw;
    content: "Trade History";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(97%);
    transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 11px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #323846;
    height: 100%;
    width: 98%;
    margin-left: 2%;
    max-width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    transform: translateX(0);
    transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}

.exchange-pastorders-orders {
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.exchange-pastorder {
    position: relative;
    width: 87%;
    height: 43%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.exchange-pastorder-currency {
    position: relative;
    font-family: Montserrat;
    color: white;
    font-size: 0.6vw;
    font-weight: 500;
    left: 3%;
}

.exchange-pastorder-spacer, .exchange-pastorder-spacer2 {
    position: relative;
    width: 0.5%;
    height: 100%;
    margin-left: 10%;
    background-color: #131623;
}

.exchange-pastorder-spacer2 {
    width: 1%;
    margin-left: 7%;
}

.exchange-pastorder-price {
    position: relative;
    font-family: Montserrat;
    color: white;
    font-size: 0.6vw;
    font-weight: 500;
    margin-left: 5%;
}

.exchange-pastorder-amount {
    position: relative;
    font-family: Montserrat;
    color: #5cd0e6;
    font-size: 0.6vw;
    font-weight: 500;
    margin-left: 5%;
}

.round {
    position: relative;
}

.round label {
    border: 1.5px solid #1e3040;
    border-radius: 50%;
    cursor: pointer;
    height: 1vw;
    left: 0;
    position: absolute;
    top: 0;
    width: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.round label:after {
    position: relative;
    background-color: #2ae5fe;
    content: "";
    margin-top: 0.1px;
    width: 0.72vw;
    height: 0.7vw;
    border-radius: 50%;
    
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.exchange-pastorder-currency {
    position: relative;
    margin-left: 5%;
}