


.box{
  display: flex;
    transform: rotate(-90deg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 38%
  }

.box .percent{

    width:70px;
    height: 70px;
      display: flex;
  }
  .box .percent svg{
    position:relative;

}
.box .percent svg circle{

    width:50px;
    height: 50px;
    fill: none;
    stroke-width: 3;
    transform: translate(5px, 5px);
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
    stroke-linecap: round;
    
}
.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(99, 99, 99);
}
.box .percent svg circle:nth-child(2){
    /* stroke-dashoffset:0; */
  stroke: #11AFF3;
}

.key{
    transform: rotate(90deg);
    width: 10px;
    height: 10px;
    position:absolute;
}



