body {
    /* background: url(https://cdn.discordapp.com/attachments/862067620127047690/909419215121948683/unknown.png); */
}
.hud {
    height: 20%;
    width: auto;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.hud > .moneyHud {
    display: flex;
    padding: 10px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    left: 1;
    text-align: center;
    margin: 20px;
}

.hud > .direction_hud {
    position: absolute;
    display: flex;
    padding: 10px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 20px;
}

.hud > .moneyHud_b {
    position: absolute;
    display: flex;
    padding: 10px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    left: 1;
    text-align: center;
    margin: 20px;
    bottom: 0;
}

.speedometer {
    position: absolute;
    display: flex;
    padding: 10px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    left: 1;
    text-align: center;
    margin: 80px;
    bottom: 0;
}

.hud .speed {
    position: absolute;
    display: flex;
    padding: 4px;
    background-color: #010101b9;
    color: white;
    border-radius: 5px;
    bottom: 0;
    left: 1;
    text-align: center;
    margin: 115px;
    bottom: 0;
    font-size: 12px;
}

.fuel_level {
    display: flex;
    align-items: center;
    width: 110px;
}

.fuel_level > .bar {
    height: 4px;
    width: 50%;
    background: purple;
    margin-left: 10px;
}

.fuel_level > .fas {
    color: white;
    font-size: 10px;
}

.hud > .moneyHud_b > div {
    margin: 5px;
}

.hud > .moneyHud > div {
    margin: 5px;
}

.color_h {
    color: rgb(255, 163, 87);
}

.thirs {
    color: rgb(40, 118, 163);
}

.green {
    color: green;
}

.blue {
    color: rgb(48, 138, 223);
}

.black {
    color: rgb(255, 255, 255);
}

.red {
    color: rgb(253, 77, 77);
}

.circles {
    height: 100px;
    position: absolute;
    display: flex;
    opacity: 1;
    margin-bottom: 100px;
    bottom: 0;
    border-radius: 520px;
}

.circles2 {
    height: 100px;
    position: absolute;
    display: flex;
    opacity: 1;
    margin-bottom: 100px;
    bottom: 0;
    border-radius: 520px;
}

.rpm {
    border-radius: 100px;
    color: rgb(218, 24, 176);
    stroke-linejoin: round;
}